header {
    border-bottom: 1px solid #EBEBEB;

    .navbar {
        padding: 0;
        margin: 0;

        .nav {
            width: 100%;
            max-width: 273px;

            &__item {
                margin-right: 24px;
            }

            &__link {
                font-family: 'Commissioner';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #666666;
                background-color: unset;
                border: unset;
                padding: 0;

                &.active {
                    font-weight: 700;
                    font-size: 16px;
                    color: #292929;
                }
            }
        }

        &__search {
            width: 100%;
            max-width: 546px;
            position: relative;

            span::before {
                content: "";
                background-image: url('../images/search_magnifying_glass.svg');
                background-repeat: no-repeat;
                position: absolute;
                width: 24px;
                height: 24px;
                left: 12px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        &__search-control {
            background: #EEEEEE;
            border-radius: 100px;
            padding-left: 44px;
            width: 100%;
            margin: 16px 0;
            height: 40px;
        }

        &__control-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__lang-singup {


            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 170px;
        }

        &__language-select {
            margin-right: 0.15rem;

            select {
                border: unset;
                font-family: 'Commissioner';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                padding: 0.375rem 0.1rem;

                option span {}
            }
        }
    }

    .btn-light {
        background-color: unset;
        border: unset;

        &:hover {
            background: #ED7135;
            color: #EBEBEB;
            transition: 0.3s;
        }
    }
}

@media only screen and (max-width: 991px) {
    header {
        border-bottom: unset;

        .navbar {
            background-color: #f8f8f8;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: var(--bs-gutter-x, .75rem);
            padding-left: var(--bs-gutter-x, .75rem);

            .nav {
                justify-content: center;
                margin: 0 auto;
            }
        }

       .navbar .container-fluid {
            justify-content: flex-end;
        }

        .container-fluid,
        .container {
            padding: 0;
            margin: 0;
            max-width: unset;
            width: 100%;
        }

        .navbar__control-item {
            flex-direction: column;
            padding-bottom: 1rem;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        z-index: 111;
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        padding-top: 10px;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}